@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

body #layer-one {
  position: relative;
  z-index: 1;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 1;
  grid-column: 1/1;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body #layer-two {
  position: relative;
  z-index: 2;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  max-height: 100vh;
}

body #layer-two .login-container {
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4/8;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  position: relative;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #layer-two .login-container .login-wrapper {
  height: inherit;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #layer-two .login-container .login-wrapper input:nth-child(1) {
  padding: .5rem;
  margin: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}

body #layer-two .login-container .login-wrapper button {
  padding: .8rem;
  margin: .5rem 2rem 2rem 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  background: #f12711;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f12711));
  background: linear-gradient(to right, #f5af19, #f12711);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body #layer-two .login-container .login-wrapper button:hover {
  outline: 1px solid black;
}

#modalWrapper {
  width: inherit;
  height: inherit;
  background: red;
}
/*# sourceMappingURL=index.css.map */