* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#nav {
    height: 60px;
    background:#0F2027;
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    z-index: 10;
}

#wrapper {
    height: calc(100vh-60px);
    position: relative;
    top: 60px;
}

#content {
    margin-left: 25px;
    margin-right: 25px;

}


.navigation-icons {
    height: 100%;
    width: 60px;
    border: 1px solid black;
}


#hamburger-icon {
    background-image: url("../assets/images/icons8-menu-64.png");
    background-size: cover;
    background-position: center;
}

.student-info {
    width: calc(100vw - 60px);
    height: 100px;
    margin: 5px;
    background-color: #A62300;
}
#logo {
     background-image: url("../assets/images/favicon.png");
     background-size: cover;
     background-position: center;
}
h1 {
    font-family: Courier, monospace;
    color: white;
    font-size: 2em;
    margin-top: 10px;
}
#search {
    background-image: url("../assets/images/search.png");
    background-size: cover;
    background-position: center;
}